.full {
    margin: 0;
}

.colored {
    background-color: #37474F;
    padding: 50px;
    width: auto;
}

.info {
    color: white;
}

.btn {
    padding: 20px;
    border: 0;
}

.marg {
    padding: 20px;
}

.centermark {
    font-size: 12px;
}

.cornermark {
    font-size: 12px;
}
