.full {
    margin: 0;
}

.colored {
    background-color: #A7A7AF;
    padding: 20px;
    width: auto;
}

.info {
    color: black;
}

.btn {
    width: 180px;
    height: 40px;
    background-color: white;
    border: 1px solid black;
}

.marg {
    padding: 6px;
}

.centermark {
    font-size: 12px;
    color: blue;
}

.cornermark {
    font-size: 12px;
    color: green;
}
