.full {
    margin: 0;
    background-color: #E6E8E6;
}

.colored {
    padding: 20px;
    width: auto;
    background-color: #3F88C5;
}

.title {
    font-size: 16px;
}

.info {
    color: #080708;
}

.btn {
    background-color: #E6E8E6;
    width: 180px;
    height: 40px;
    border: 1px solid #080708;
    color: #080708;
    border-radius: 4px;
}

.marg {
    padding: 6px;
}

.centermark {
    font-size: 12px;
    color: #DF2935;
}

.cornermark {
    font-size: 12px;
    color: #3772FF;
}