canvas {
    display: block;
}

.link1 {
    font-size: 20px;
    margin-left: 30px;
    position: fixed;
    top: 15px;
    left: 10px;
}

.link2 {
    font-size: 20px;
    margin-left: 30px;
    position: fixed;
    top: 15px;
    left: 120px;
}
